/*===================================================
    Author: Laureen Ramirez
    @SacredACCESS
===================================================
    GENERIC STYLES
===================================================*/
html {
    font-family: Arial, Verdana, Helvetica, Sans-serif; 
    font-size: large;
    font-stretch: normal;
}


.photo-container {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
    border: 2px solid rgb(15, 0, 0);
    border-radius: 4px
}

